html {
    --bkg-color: #73A4FF;
    --color-1: #DA82FF;
    --color-2: #3611E8;
    --color-3: #5DD5E8;
    --color-4: #7EFFCB;
}


body {
    background-color: var(--bkg-color);
}

#logo {
    float: left;
    height: 50px;
    margin-right: 10px;
}

nav {
    height: 50px;
    padding-top: 1px;
}

nav li {
    display: inline;
    margin: 10px;
    padding-top: 5px;
}

nav li a {
    font-size: 2em;
}

#elderlyCare {
    width: 400px;
}

#shuttleService {
    width: 400px;
}